L025N752/**/temp_dir**
L025N752/**/temp_data**
L025N752/**/initial_velocities**
L025N752/**/final_19halos_noNFW/*
!L025N752/**/final_19halos_noNFW/DM_pos_origID*_snap_0036.npy
L025N752/**/neutrino_vectors**