L025N752/**/temp_dir**
L025N752/**/temp_data**
L025N752/**/initial_velocities**
L025N752/**/final_**
!L025N752/**/final_halo_data/DM_pos_origID*_snap_0036.npy
L025N752/**/neutrino_vectors**
L025N752/**/benchmark_halo**
L025N752/**/benchmark_test**